.text-animator {
    position: relative;
    width: 200px;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

.text-slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    animation: slide 9s infinite;
}

.text-slide:nth-child(1) {
    animation-delay: 0s;
}

.text-slide:nth-child(2) {
    animation-delay: 3s;
}

.text-slide:nth-child(3) {
    animation-delay: 6s;
}

@media (max-width: 768px) {
    .text-animator {

        font-size: 1.8rem;
    }

}

@keyframes slide {
    0%, 33.33% {
        opacity: 0;
        transform: translateY(100%);
    }

    10%, 23.33% {
        opacity: 1;
        transform: translateY(0);
    }

    33.34%, 100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}